*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

#title{
	text-align: center;
	padding-top: 50px;
}

#description{
	text-align: center;
	padding: 20px 0 35px 0;
	font-style: italic;
	font-size: 18px;
}

#survey-form{
	background-color: #6d6d69;
	width: 50%;
	margin: auto;
	border-radius: 5px;
	padding: 40px;
}


#survey-form div{
	padding: 20px;
}

#name-label,
#email-label,
#number-label,
.radio{
	font-size: 19px;
	padding-bottom: 5px;
}

#name{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 17px;
	margin-top: 6px;
	padding-left: 10px;
	box-sizing: border-box;
}

#email{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 17px;
	margin-top: 6px;
	padding-left: 10px;
	box-sizing: border-box;
}

#number{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	font-size: 17px;
	margin-top: 6px;
	padding-left: 10px;
	box-sizing: border-box;
}

#dropdown, 
#dropdown-2{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 17px;
	margin-top: 6px;
	color: gray;
}

.radio .label,
.label,
.check label,
#text-area{
	font-size: 20px;
}

.radio ul{
	padding: 10px 0 0 0;
}

.radio li{
	list-style: none;
	padding: 0 0 14px 0;
}

.radio .label-2{
	padding-left: 8px;
}

.radio input[type=radio]{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.span-label{
	font-size: 16px;
}

.check ul{
	padding: 10px 0 0 0;
}

.check li{
	list-style: none;
	padding: 0 0 14px 0;
}

.check input[type=checkbox]{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.check .check-label{
	padding-left: 8px;
}

#text-area .textarea{
	width: 100%;
	height: 140px;
	font-size: 18px;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 6px;
}

.button{
	padding: 0;
}


#submit{
	width: 100%;
	height: 50px;
	border-radius: 3px;
	border: none;
	color: #fff;
	font-size: 20px;
	background-color: #37af65;
	padding: 0;
	margin: 0;
}